.jumbotron{
  
  margin:40px;
  background-color: #FF1493;


}
body{
  background-color: #76D7C4;
}
#number{
  background-image: url("/home/june/Documents/ping-pong/giphy.gif");
}
#nums{
  background-image: url("/home/june/Documents/ping-pong/giphy.gif");
}
h2{
  background-color: #FF69B4
}
