
body{
  font-family:'Open Sans', sans-serif;
  }
  #intro{
    background-image: url("/home/june/Documents/ping-pong/giphy.gif");

    margin:20px;
    padding:300px;
    width: 4000px;
    margin-right: 500px;
    align:center;
}
.jumbotron{

  margin:50px;
  background-color: #FF1493;


}
body{
  background-color: #76D7C4;
}
#number{
  background-image: url("/home/june/Documents/ping-pong/giphy.gif");
}
#nums{
  background-image: url("/home/june/Documents/ping-pong/giphy.gif");
}
h2{
  background-color: #FF69B4
}
